<h1>My task: <%= @task.title %></h1>
<p><%= @task.details %></p>
<p>Is the task completed? <%= @task.completed %></p>
<%= link_to "Edit this task", edit_task_path(@task.id) %>
<%= link_to "All tasks", tasks_path %>